<html>
<head>
<title>Elite Architecture Modeler</title>

<style src="bootstrap/css/bootstrap.css"></style>
<style src="css/document.css"></style>
<link rel="stylesheet"	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link>
<script src="bootstrap/js/bootstrap.min.js"></script>
<script	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-route.js"></script>
<script src="js/document.js"></script>
</head>

<body>

	<nav class="navbar navbar-inverse navbar-static-top" role="navigation">
		<div class="container col-md-4 col-md-offset-4">
			<h1 style="color: white">Elite Architecture Modeler</h1>
		</div>
	</nav>


	<div ng-app="myApp" ng-controller="myCtrl">
		<ul>
			<li ng-repeat="document in myDocuments"> {{document}} </li>
		</ul>	
	</div>


	<nav class="navbar navbar-inverse navbar-static-bottom"
		role="navigation">
		<div class="container col-md-2 col-md-offset-5">
			<h6 style="color: white">&copy; Copyrights Reserved 2017</h6>
		</div>
	</nav>

</body>

</html>